:root{
--color-orange: hsl(31, 77%, 52%);
--color-dark-cyan: hsl(184, 100%, 22%);
--color-very-dark-cyan: hsl(179, 100%, 13%);
--color-white: hsla(0, 0%, 100%, 0.75);
--color-light-gray: hsl(0, 0%, 95%);
font-size: 15px;
margin: 2rem;
}

* {
    box-sizing: border-box;
}

  body{
    display: grid;
    place-items: center;
    padding: 1.5rem;
  }

.container {
    border-radius: .8rem;
    width: 50rem;
    height: 30rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: auto;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2.5rem;
    height: 100%;
}

.card-orange {
    background-color: var(--color-orange);
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.card-dark-cyan {
    background-color: var(--color-dark-cyan);
    border-radius: 0;
}

.card-very-dark-cyan {
    background-color: var(--color-very-dark-cyan);
    border-bottom-right-radius: .8rem;
    border-top-right-radius: .8rem;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-light-gray);
    text-align: left;
  }

  p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-white);
    font-size: 0.8rem;
  }

  .cta {
    margin-top: auto;   
}  

button {  
    border-radius: 1.5rem;
    width: 8.75rem;
    padding: 1.0rem;
    background-color:var(--color-light-gray);
    border: 0;
}

.card-orange button{
    color:var(--color-orange);
}

.card-dark-cyan button{
    color:var(--color-dark-cyan);
}

.card-very-dark-cyan button{
    color:var(--color-very-dark-cyan);
}

.card-orange button:hover, button:active{
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background: var(--color-orange);
    cursor: pointer;
}

.card-dark-cyan button:hover, button:active{
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background: var(--color-dark-cyan);
    cursor: pointer;
}

.card-very-dark-cyan button:hover, button:active{
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background: var(--color-very-dark-cyan);
    cursor: pointer;
}

@media (max-width: 375px){

    body{
        display: grid;
        place-items: center;
      }

    .container {
        width: auto;
        max-width: 57rem;
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
    }

    .card{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2.5rem;
    }
    .card-orange {
        background-color: var(--color-orange);
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .card-dark-cyan {
        background-color: var(--color-dark-cyan);
        border-radius: 0;
    }
    
    .card-very-dark-cyan {
        background-color: var(--color-very-dark-cyan);
        border-bottom-right-radius: .8rem;
        border-bottom-left-radius: .8rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}









