
* {
    box-sizing: border-box;
}
.container {
    width: auto;
    max-width: 920px;
    text-align: center;
    border-radius: 10px;
    margin-top: 170px;
    margin-left: 260px;
    margin-bottom: 129px;
    margin-right: 260px;
    max-height: 500px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.card{
    position: relative;
    width: 100%;
    height: 500px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 500px;
}

.card-orange {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-orange button:hover, button:active{
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background: hsl(31, 77%, 52%);
    cursor: pointer;
}


.card-dark-cyan {
    background-color:hsl(184, 100%, 22%);
    border-radius: 0;
}

.card-dark-cyan button:hover{
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background: hsl(184, 100%, 22%);
    cursor: pointer;
}

.card-very-dark-cyan {
    background-color:hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-very-dark-cyan button:hover{
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background: hsl(179, 100%, 13%);
    cursor: pointer;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5vmax;
    color: hsl(0, 0%, 95%);
    margin: 0;  
    padding: 0;
  }

  .card-content{
    margin: 0;  
    padding: 0;
  }

  p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    font-size: 1vmax;
  }

.image-wrapper {
    text-align: left;
}

.cta {
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 0;
}

button {  
    border-radius: 25px;
    width: 140px;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
}

@media (max-width: 375px){
    .container {
        width: auto;
        max-width: 920px;
        border: solid black 1px;
        text-align: center;
        margin: 85px 20px 129px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        align-items: left;
        width: 100%;
    }

    .card{
        position: relative;
        width: 100%;
        height: 440px;
        padding: 44px;
        display: flex;
        flex-direction: column;
    }

    .card-orange {
        background-color: hsl(31, 77%, 52%);
    
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .card-dark-cyan {
        background-color:hsl(184, 100%, 22%);
        border-radius: 0;
    }
    
    .card-very-dark-cyan {
        background-color:hsl(179, 100%, 13%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    footer{
        margin-bottom: 0;
      position: fixed;
    }

}






